VITE_FIREBASE_API_KEY=AIzaSyCfPbAjdA1xCDRbqXQNUFgh1oNW_RDMpMw
VITE_FIREBASE_AUTH_DOMAIN=planning-with-ai-cb2ae.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=planning-with-ai-cb2ae
VITE_FIREBASE_APP_ID=1:315325260967:web:2dda20091587ef0f84a782
